<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservation</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <p>Date of reservation</p>
        <input type="date" name="date">
        <p>Comment</p>
        <textarea name="comment" ></textarea>
         <p></p>
        <input type="submit" value="Make reservation">
    </form>
    <table>
        <th1><td>Reservations:</td></th1><br>
            <th2><tr><td>Date</td><td> Comment</td></tr></th2><br>
        {% for i in reserv %}<tr><td>{{ i.date }} </td><td>{{ i.comment }}</td></tr><br>{% endfor %}
    </table>
</body>
</html>