<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<head>
    <meta charset="UTF-8">
    <title>Bookin</title>
</head>
<body>
    <form>
        <p>Room name:</p>
        <input type="text" name="name">
        <p>Numer of sets</p>
        <input type="number" name="sets">
        <p>Projector in room:</p>
        <input type="checkbox" name="projector">

        <input type="submit" value="Add room">
    </form>

</body>
</html>